@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import '~noty/lib/noty.css';
@import '~noty/lib/themes/nest.css';

body {
  background-color: #1B1B1B;
  color: #636e72;
}

.App {
  width: 1440px;
  margin: 4% auto;
}

.App__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App__menu {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.App__menu-item {
  margin-right: 30px;
}

.App__menu-item a {
  font-weight: 500;
  color: #636e72;
  text-decoration: none;
}

.App__mint {
  text-align: center;
}

.App__loader {
  text-align: center;
}

.App__wallet-address {
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
}

.App__wallet-address-wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  color: #636e72;
}

.App__network {
  margin-right: 20px;
  color: #00b894;
}

.App__wallet-identicon {
  border: 2px solid #00b894;
  border-radius: 30px;
  margin-right: 10px;
}

.App__title {
  font-size: 60px;
  text-transform: lowercase;
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
}

.App__title a {
  text-decoration: none;
  color: #636e72;
  cursor: pointer;
}

.App__asset-wrapper {
  margin: auto;
  width: 450px;
}

.App__asset {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #262626;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.App__asset-identicon {
  margin-right: 10px;
  border: 2px solid #00b894;
  border-radius: 30px;
  margin-right: 10px;
}

.App__asset-symbol {
  margin-right: 30px;
  font-weight: 600;
  color: #636e72;
}

.App__asset-address {
  margin-right: 10px;
  text-align: left;
  flex-grow: 4;
  color: #636e72;
}

.App__asset-amount {
  font-weight: 600;
  color: #636e72;
}

.App__send {
  width: 400px;
  margin: auto auto 50px auto;
}

.App__page {
  width: 400px;
  margin: auto auto 50px auto;
  color: #636e72;
}

.App__input {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 6px;
  background-color: #262626;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.App__input input {
  display: block;
  border-radius: 6px;
  background-color: #262626;
  color: #b2bec3;
  border: none;
  width: 100%;
  outline: none;
  font-size: 16px;
}

.App__amount-input {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.App__amount-input input {
  display: block;
  border-radius: 6px;
  background-color: #ffffff;
  border: none;
  width: 100%;
  outline: none;
  font-size: 16px;
}

.App__label {
  margin-bottom: 20px;
  font-weight: 700;
}

.App__send-btn {
  display: block;
  width: 100%;
  padding: 15px 0 15px 0;
  cursor: pointer;
  border-radius: 6px;
  background-color: #0984e3;
  border: none;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}
